* {
  box-sizing: border-box;
}

body {
  user-select: none;
  background: #2c2c2c;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  --dark-cell: #b58863;
  --light-cell: #f0d9b5;
  --board-bg: #3a3a3a;
  --glow-color: rgba(255, 215, 0, 0.3);
}

.chess-board {
  width: 565px;
  display: flex;
  position: relative;
  padding: 20px;
  background: var(--board-bg);
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  margin: 20px auto;
}

.grid-cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;

  
}

.piece {
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
  user-select: none;
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.move-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(2, 84, 247, 0.7);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.move-indicator.capture {
  width: 40px;
  height: 40px;
  background-color: #fd6a6a;
}

.promotion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.promotion-modal {
  background: #3a3a3a;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.promotion-option {
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #f8e808;
  border-radius: 5px;
  transition: transform 0.2s ease;
}

/* Анимации */
@keyframes cellAppear {
  from {
      opacity: 0;
      transform: scale(0.5) rotate(45deg);
  }
  to {
      opacity: 1;
      transform: scale(1) rotate(0);
  }
}




/* Ховер-эффекты */
.grid-cell:hover {
  transform: scale(1.05);
  z-index: 22;
}

.grid-cell:hover .piece {
  transform: scale(1.2);
}

.promotion-option:hover {
  transform: scale(1.1);
  filter: drop-shadow(0 0 10px rgba(255,215,0,0.5));
}