* {
    box-sizing: border-box;
    
  }
  

 
#root{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
}


.zxc{
	 
}

.zxc:hover {
    background-color: rgba(200, 200, 200, 0.5); 
}